.jumbo_img {
    width: 200px;
    filter: invert(100%);
}

li {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

li:hover {
    text-decoration: underline;
}

.buttons {
    background-color: rgba(41, 48, 56, 0.8);
    padding: 0.7rem;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: all 0.2s ease-in;
    cursor: pointer;

    &:hover {
        border: 1px solid white;
    }
}